@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.al-haleme {
  font-family: "Roboto Slab", serif;
  scroll-behavior: smooth;
}

.al-haleme li {
  list-style: none;
}

.al-haleme a {
  text-decoration: none;
}

.al-haleme .container {
  max-width: 80%;
  margin: auto;
}

.al-haleme .head_container {
  max-width: 90%;
  margin: auto;
}

/*--------------home--------*/
.home .image img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.home .text {
  max-width: 50%;
  color: white;
  margin: 20% 0 0 10%;
}

.home h1 {
  font-size: 80px;
  font-weight: 400;
}

.home p {
  font-weight: 400;
  line-height: 25px;
  font-family: sans-serif;
  font-size: 17px;
  margin: 50px 0 0 50px;
}

button {
  padding: 20px 40px;
  background: none;
  outline: none;
  border: 2px solid white;
  border-radius: 50px;
  color: white;
  margin-top: 20px;
}

.home button {
  margin-left: 50px;
}

.home .image_item {
  position: absolute;
  top: 20%;
  right: 20%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.home .image_item img {
  width: 140px;
  height: 94px;
  margin: 10px;
  transition: 0.5s;
}

.home .image_item img.active {
  border: 2px solid white;
}

.home .box .text {
  position: relative;
}

.home .box .text::after {
  position: absolute;
  content: "H";
  font-size: 500px;
  top: -120%;
  font-weight: bold;
  opacity: 0.1;
}

/*--------------home--------*/
/*--------------book--------*/
.flex {
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

/*--------------about--------*/
.top {
  margin-top: 10%;
}

.mtop {
  margin-top: 5%;
}

.left,
.right {
  width: 50%;
}

.about {
  margin-bottom: 50px;
}

.about .img {
  position: relative;
}

.about .image1 {
  width: 310px;
  height: 450px;
}

.about .image2 {
  width: 325px;
  height: 220px;
  position: absolute;
  bottom: 5px;
  z-index: 2;
  right: 30%;
}

.heading {
  position: relative;
}

.heading::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100px;
  height: 4px;
  background: #c1b086;
}

.heading h5 {
  font-weight: 400;
  letter-spacing: 2px;
  padding-top: 20px;
  color: #5f5f5f;
}

.heading h2 {
  font-size: 30px;
  font-weight: 400;
  margin: 20px 0 40px 0;
  color: #222222;
}

.heading p {
  margin-bottom: 20px;
  line-height: 25px;
  color: #5f5f5f;
  margin: 0 0 20px 50px;
}

.heading .btn1 {
  margin: 50px 0 20px 50px;
}

.btn1 {
  background: #c1b086;
  color: white;
}

/*--------------about--------*/
/*--------------wrapper--------*/
.wrapper {
  background-image: url("../../images/ami.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 480px;
  position: relative;
}

.wrapper .text {
  background: #3f9cc1;
  padding: 50px;
  width: 40%;
  height: 600px;
  position: absolute;
  top: -13%;
  right: 10%;
  padding-top: 10%;
  color: white;
}

.wrapper .content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 30px;
}

.wrapper h2 {
  font-weight: 400;
}

.wrapper p {
  margin: 20px 0 50px 0;
  line-height: 30px;
}

.wrapper i {
  margin: 5px 20px 0 0;
}

/*--------------wrapper--------*/
/*--------------room--------*/
.flex1 {
  display: flex;
  justify-content: space-between;
}

.room .grid {
  grid-template-columns: repeat(3, 1fr);
}

.room img {
  width: 100%;
  height: 100%;
}

.room .box {
  box-shadow: 0 13px 43px 0 rgb(37 46 89/10%);
}

.room .text {
  padding: 20px;
}

.room h3 {
  font-weight: 400;
  margin-bottom: 10px;
}

.room p span {
  font-size: 12px;
  color: grey;
}

.room p {
  font-size: 20px;
}

/*--------------room--------*/
/*--------------wrapper2--------*/
.wrapper2 {
  background-image: url("../../images/w1.jpg");
}

.wrapper2 .text {
  left: 10%;
}

.wrapper2 h5,
.wrapper2 h2 {
  color: white;
}

.wrapper2 img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.wrapper2 .para h5 {
  font-size: 13px;
  font-weight: 300;
  margin-top: 5px;
}

.wrapper2 .para {
  margin-left: 10%;
}

/*--------------wrapper2--------*/

/*--------------gallary--------*/
.gallary img {
  width: 270px;
  height: 350px;
}

.owl-carousel .owl-next,
.owl-carousel .owl-prev {
  height: 50px;
  position: absolute;
  width: 50px;
  cursor: pointer;
  top: 35%;
  background: white !important;
  transition: 0.5s;
}

.owl-carousel .owl-prev {
  left: 33px;
}

.owl-carousel .owl-next {
  right: 33px;
}

.owl-carousel .owl-next:hover,
.owl-carousel .owl-prev:hover {
  background: #c1b086 !important;
}

/*--------------gallary--------*/
/*--------------map--------*/
.map iframe {
  width: 100%;
}

/*--------------map--------*/

@media only screen and (max-width: 768px) {
  .home .box .text {
    max-width: 100%;
  }

  .home .box .text::after,
  .home .image_item {
    display: none;
  }

  .restaurant .container,
  .about .container,
  .book .container {
    flex-direction: column;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .book {
    margin-top: 10%;
    height: auto;
  }

  .book .search {
    width: 100%;
  }

  .book .search input {
    margin-top: 0;
  }

  .left,
  .right {
    width: 100%;
  }

  .wrapper .text {
    width: 80%;
  }

  .room {
    margin-bottom: 100px;
  }

  .room .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .restaurant .right {
    padding: 0;
    margin-top: 50px;
  }

  footer .payment {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .home .text {
    margin: 10% 0 0 0;
  }

  .home h1 {
    font-size: 40px;
  }

  .about p,
  .home p {
    margin: 50px 0 0 0;
  }

  .wrapper .text {
    padding: 10px;
    height: 600px;
  }

  .heading_top {
    margin-top: 100px;
  }

  .heading_top button {
    display: none;
  }

  .restaurant .flex {
    flex-direction: column-reverse;
  }
}

/*  */
.header {
  position: relative;
  height: 100vh;
  min-height: 500px;
  background: url(../../images/resort-home.png) no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

.header .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header .overlay .subtitle {
  font-size: calc(13px + (18 - 13) * ((100vw - 320px) / (1200 - 320)));
  font-weight: 400;
  margin-bottom: 0;
  letter-spacing: 8px;
  word-spacing: 10px;
  text-align: center;
  opacity: 0.8;
}

.header .overlay .title {
  font-size: calc(30px + (70 - 30) * ((100vw - 320px) / (1200 - 320)));
  font-weight: bold;
}

.header .shape svg {
  position: absolute;
  bottom: -28px;
  left: 0;
  width: 100%;
  z-index: 9;
}

.header .shape svg path {
  fill: #ffffff;
}

@media (max-width: 1199.98px) {
  .header .shape svg {
    bottom: -15px;
  }
}

@media (max-width: 767.98px) {
  .header .shape svg {
    bottom: 0;
  }
}

.header.components-header {
  max-height: 450px !important;
  height: 450px;
  display: none;
  background-position: center -140px;
}

.header.components-header .title {
  font-size: calc(40px + (90 - 40) * ((100vw - 320px) / (1200 - 320)));
  font-weight: bold;
  margin-top: -8%;
}

.header.components-header .shape svg path {
  fill: #f5f8fc;
}

.header-title {
  font-size: 2.4rem;
  font-weight: bold;
  opacity: 0.8;
  color: #444;
}

.header-mini {
  min-height: 24rem;
  height: 24rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  background: #ffbca8;
}

.mouse-icon {
  color: white;
  font-size: 3rem;
  height: 70px;
  width: 100px;
  display: block;
  z-index: 10;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100px;
  margin: auto;
}

.mouse-icon .wheel {
  color: white;
  position: relative;
  border-radius: 10px;
  background: #fff;
  width: 2px;
  height: 6px;
  top: 4px;
  margin-left: auto;
  margin-right: auto;
}
